In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
taxi2014_clean = "merged2014.csv"
taxi2014_clean = pd.read_csv(taxi2014_clean)

In [4]:
taxi2014_clean.head()

   Unnamed: 0  Unnamed: 0.1 vendor_id      pickup_datetime
0           0             0       CMT  2014-01-09 20:45:25
1           1             1       CMT  2014-01-09 20:46:12
2           2             2       CMT  2014-01-09 20:44:47
3           3             3       CMT  2014-01-09 20:44:57
4           4             4       CMT  2014-01-09 20:47:09

In [5]:
taxi2014_clean = taxi2014_clean.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)

In [6]:
taxi2014_clean.head()

  vendor_id      pickup_datetime
0       CMT  2014-01-09 20:45:25
1       CMT  2014-01-09 20:46:12
2       CMT  2014-01-09 20:44:47
3       CMT  2014-01-09 20:44:57
4       CMT  2014-01-09 20:47:09

In [ ]:
# splitting the pickup_datetime column into date and time
taxi2014_clean = taxi2014_clean[" pickup_datetime"].str.split(" ", n = 1, expand = True)