In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
#read 2014 summary data

jan2014 = "jan2014summary.csv"
jan2014_df = pd.read_csv(jan2014)

feb2014 = "feb2014summary.csv"
feb2014_df = pd.read_csv(feb2014)

mar2014 = "mar2014summary.csv"
mar2014_df = pd.read_csv(mar2014)

apr2014 = "apr2014summary.csv"
apr2014_df = pd.read_csv(apr2014)

may2014 = "may2014summary.csv"
may2014_df = pd.read_csv(may2014)

jun2014 = "jun2014summary.csv"
jun2014_df = pd.read_csv(jun2014)

jul2014 = "jul2014summary.csv"
jul2014_df = pd.read_csv(jul2014)

aug2014 = "aug2014summary.csv"
aug2014_df = pd.read_csv(aug2014)

sep2014 = "sep2014summary.csv"
sep2014_df = pd.read_csv(sep2014)

oct2014 = "oct2014summary.csv"
oct2014_df = pd.read_csv(oct2014)

nov2014 = "nov2014summary.csv"
nov2014_df = pd.read_csv(nov2014)

dec2014 = "dec2014summary.csv"
dec2014_df = pd.read_csv(dec2014)

#read 2015 summary data

jan2015 = "jan2015summary.csv"
jan2015_df = pd.read_csv(jan2015)

feb2015 = "feb2015summary.csv"
feb2015_df = pd.read_csv(feb2015)

mar2015 = "mar2015summary.csv"
mar2015_df = pd.read_csv(mar2015)

apr2015 = "apr2015summary.csv"
apr2015_df = pd.read_csv(apr2015)

may2015 = "may2015summary.csv"
may2015_df = pd.read_csv(may2015)

jun2015 = "jun2015summary.csv"
jun2015_df = pd.read_csv(jun2015)

In [3]:
jantofeb2014 = jan2014_df.append(feb2014_df, ignore_index=True)

In [4]:
jantomar2014 = jantofeb2014.append(mar2014_df, ignore_index=True)

In [5]:
jantoapr2014 = jantomar2014.append(apr2014_df, ignore_index=True)

In [6]:
jantomay2014 = jantoapr2014.append(may2014_df, ignore_index=True)

In [7]:
jantojun2014 = jantomay2014.append(jun2014_df, ignore_index=True)

In [8]:
jantojul2014 = jantojun2014.append(jul2014_df, ignore_index=True)

In [9]:
jantoaug2014 = jantojul2014.append(aug2014_df, ignore_index=True)

In [10]:
jantosep2014 = jantoaug2014.append(sep2014_df, ignore_index=True)

In [11]:
jantooct2014 = jantosep2014.append(oct2014_df, ignore_index=True)

In [12]:
jantonov2014 = jantooct2014.append(nov2014_df, ignore_index=True)

In [13]:
jantodec2014 = jantonov2014.append(dec2014_df, ignore_index=True)

In [14]:
jan2014tojan2015 = jantodec2014.append(jan2015_df, ignore_index=True)

In [15]:
jan2014tofeb2015 = jan2014tojan2015.append(feb2015_df, ignore_index=True)

In [16]:
jan2014tomar2015 = jan2014tofeb2015.append(mar2015_df, ignore_index=True)

In [17]:
jan2014toapr2015 = jan2014tomar2015.append(apr2015_df, ignore_index=True)

In [18]:
jan2014tomay2015 = jan2014toapr2015.append(may2015_df, ignore_index=True)

In [19]:
taxi_final_df = jan2014tomay2015.append(jun2015_df, ignore_index=True)

In [20]:
taxi_final_df.head()

         Date    Time  Taxi_Vendor
0  2014-01-01  420810       420810
1  2014-01-02  359958       359958
2  2014-01-03  275470       275470
3  2014-01-04  417499       417499
4  2014-01-05  388542       388542

In [21]:
taxi_final_df = taxi_final_df.drop("Taxi_Vendor", axis = 1)

In [22]:
taxi_final_df.head()

         Date    Time
0  2014-01-01  420810
1  2014-01-02  359958
2  2014-01-03  275470
3  2014-01-04  417499
4  2014-01-05  388542

In [23]:
taxi_summary_final = taxi_final_df.rename(columns = {"Time": "Ride Count"})

In [24]:
taxi_summary_final.head()

         Date  Ride Count
0  2014-01-01      420810
1  2014-01-02      359958
2  2014-01-03      275470
3  2014-01-04      417499
4  2014-01-05      388542

In [25]:
taxi_summary_final.to_csv("taxi_final_df.csv")

In [26]:
#taxi_final_df = taxi_final_df.rename(columns={"VendorID": "vendor_id", "tpep_pickup_datetime":"pickup_datetime"})