In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
jan2014 = "../Project_TaxiData/jan2014_df2.csv"
jan2014_df = pd.read_csv(jan2014)

feb2014 = "../Project_TaxiData/feb2014_df2.csv"
feb2014_df = pd.read_csv(feb2014)

mar2014 = "../Project_TaxiData/mar2014_df2.csv"
mar2014_df = pd.read_csv(mar2014)

apr2014 = "../Project_TaxiData/apr2014_df2.csv"
apr2014_df = pd.read_csv(apr2014)

may2014 = "../Project_TaxiData/may2014_df2.csv"
may2014_df = pd.read_csv(may2014)

jun2014 = "../Project_TaxiData/jun2014_df2.csv"
jun2014_df = pd.read_csv(jun2014)

jul2014 = "../Project_TaxiData/jul2014_df2.csv"
jul2014_df = pd.read_csv(jul2014)

aug2014 = "../Project_TaxiData/aug2014_df2.csv"
aug2014_df = pd.read_csv(aug2014)

sep2014 = "../Project_TaxiData/sep2014_df2.csv"
sep2014_df = pd.read_csv(sep2014)

oct2014 = "../Project_TaxiData/oct2014_df2.csv"
oct2014_df = pd.read_csv(oct2014)

nov2014 = "../Project_TaxiData/nov2014_df2.csv"
nov2014_df = pd.read_csv(nov2014)

dec2014 = "../Project_TaxiData/dec2014_df2.csv"
dec2014_df = pd.read_csv(dec2014)

In [3]:
janfeb2014 = jan2014_df.append(feb2014_df, ignore_index=True)

In [4]:
janfebmar2014 = janfeb2014.append(mar2014_df, ignore_index=True)

In [6]:
jantoapr2014 = janfebmar2014.append(apr2014_df, ignore_index=True)

In [8]:
jantomay2014 = jantoapr2014.append(may2014_df, ignore_index=True)

In [9]:
jantojun2014 = jantomay2014.append(jun2014_df, ignore_index=True)

In [10]:
jantojul2014 = jantojun2014.append(jul2014_df, ignore_index=True)

In [11]:
jantoaug2014 = jantojul2014.append(aug2014_df, ignore_index=True)

In [12]:
jantosep2014 = jantoaug2014.append(sep2014_df, ignore_index=True)

In [14]:
jantooct2014 = jantosep2014.append(oct2014_df, ignore_index=True)

In [15]:
jantonov2014 = jantooct2014.append(nov2014_df, ignore_index=True)

In [16]:
merged2014 = jantonov2014.append(dec2014_df, ignore_index=True)

In [17]:
merged2014.to_csv("merged2014.csv")

In [18]:
jan2015 = "../Project_TaxiData/jan2015_df2.csv"
jan2015_df = pd.read_csv(jan2015)

feb2015 = "../Project_TaxiData/feb2015_df2.csv"
feb2015_df = pd.read_csv(feb2015)

mar2015 = "../Project_TaxiData/mar2015_df2.csv"
mar2015_df = pd.read_csv(mar2015)

apr2015 = "../Project_TaxiData/apr2015_df2.csv"
apr2015_df = pd.read_csv(apr2015)

may2015 = "../Project_TaxiData/may2015_df2.csv"
may2015_df = pd.read_csv(may2015)

jun2015 = "../Project_TaxiData/jun2015_df2.csv"
jun2015_df = pd.read_csv(jun2015)

In [19]:
janfeb2015 = jan2015_df.append(feb2015_df, ignore_index=True)

In [20]:
janfebmar2015 = janfeb2015.append(mar2015_df, ignore_index=True)

In [21]:
jantoapr2015 = janfebmar2015.append(apr2015_df, ignore_index=True)

In [22]:
jantomay2015 = jantoapr2015.append(may2015_df, ignore_index=True)

In [23]:
merged2015 = jantomay2015.append(jun2015_df, ignore_index=True)

In [24]:
merged2015.to_csv("merged2015.csv")

In [28]:
merged2014.head()

   Unnamed: 0 vendor_id      pickup_datetime
0           0       CMT  2014-01-09 20:45:25
1           1       CMT  2014-01-09 20:46:12
2           2       CMT  2014-01-09 20:44:47
3           3       CMT  2014-01-09 20:44:57
4           4       CMT  2014-01-09 20:47:09

In [ ]:
#merged2015.head()

In [5]:
#merged2015 = merged2015.rename(columns={"VendorID": "vendor_id", "tpep_pickup_datetime":"pickup_datetime"})