In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
jan2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-01.csv"
jan2014_df = pd.read_csv(jan2014)

feb2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-02.csv"
feb2014_df = pd.read_csv(feb2014)

mar2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-03.csv"
mar2014_df = pd.read_csv(mar2014)

apr2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-04.csv"
apr2014_df = pd.read_csv(apr2014)

may2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-05.csv"
may2014_df = pd.read_csv(may2014)

jun2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-06.csv"
jun2014_df = pd.read_csv(jun2014)

jul2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-07.csv"
jul2014_df = pd.read_csv(jul2014)

aug2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-08.csv"
aug2014_df = pd.read_csv(aug2014)

sep2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-09.csv"
sep2014_df = pd.read_csv(sep2014)

oct2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-10.csv"
oct2014_df = pd.read_csv(oct2014)

nov2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-11.csv"
nov2014_df = pd.read_csv(nov2014)

dec2014 = "../Project_TaxiData/2014/yellow_tripdata_2014-04.csv"
dec2014_df = pd.read_csv(dec2014)

C:\Users\sarah\Anaconda3\envs\Pythondata\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
jan2014_df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2014-01-09 20:45:25,2014-01-09 20:52:31,1,0.7,-73.994770,40.736828,1,N,-73.982227,40.731790,CRD,6.5,0.5,0.5,1.40,0.0,8.90
1,CMT,2014-01-09 20:46:12,2014-01-09 20:55:12,1,1.4,-73.982392,40.773382,1,N,-73.960449,40.763995,CRD,8.5,0.5,0.5,1.90,0.0,11.40
2,CMT,2014-01-09 20:44:47,2014-01-09 20:59:46,2,2.3,-73.988570,40.739406,1,N,-73.986626,40.765217,CRD,11.5,0.5,0.5,1.50,0.0,14.00
3,CMT,2014-01-09 20:44:57,2014-01-09 20:51:40,1,1.7,-73.960213,40.770464,1,N,-73.979863,40.777050,CRD,7.5,0.5,0.5,1.70,0.0,10.20
4,CMT,2014-01-09 20:47:09,2014-01-09 20:53:32,1,0.9,-73.995371,40.717248,1,N,-73.984367,40.720524,CRD,6.0,0.5,0.5,1.75,0.0,8.75

In [7]:
jan2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-01.csv"
jan2015_df = pd.read_csv(jan2015)

feb2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-02.csv"
feb2015_df = pd.read_csv(feb2015)

mar2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-03.csv"
mar2015_df = pd.read_csv(mar2015)

apr2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-04.csv"
apr2015_df = pd.read_csv(apr2015)

may2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-05.csv"
may2015_df = pd.read_csv(may2015)

jun2015 = "../Project_TaxiData/2015/yellow_tripdata_2015-06.csv"
jun2015_df = pd.read_csv(jun2015)

In [8]:
jan2015_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [ ]:
#taxi2014 = [jan2014_df, feb2014_df, mar2014_df, apr2014_df, may2014_df, jun2014_df, jul2014_df, aug2014_df, sep2014_df,
           #oct2014_df, nov2014_df, dec2014_df]
#for each in taxi2014:
#    each = each[["vendor_id", "pickup_datetime"]]
#
#taxi2015 = [jan2015_df, feb2015_df, mar2015_df, apr2015_df, may2015_df, jun2015_df]
#for each in taxi2015:
#   each = each[["VendorID", "tpep_pickup_datetime"]]

In [9]:
jan2014_df.columns

Index(['vendor_id', ' pickup_datetime', ' dropoff_datetime',
       ' passenger_count', ' trip_distance', ' pickup_longitude',
       ' pickup_latitude', ' rate_code', ' store_and_fwd_flag',
       ' dropoff_longitude', ' dropoff_latitude', ' payment_type',
       ' fare_amount', ' surcharge', ' mta_tax', ' tip_amount',
       ' tolls_amount', ' total_amount'],
      dtype='object')

In [10]:
jan2015_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [11]:
jan2014_df2= pd.DataFrame(jan2014_df[["vendor_id", " pickup_datetime"]])
feb2014_df2= pd.DataFrame(feb2014_df[["vendor_id", " pickup_datetime"]])
mar2014_df2= pd.DataFrame(mar2014_df[["vendor_id", " pickup_datetime"]])
apr2014_df2= pd.DataFrame(apr2014_df[["vendor_id", " pickup_datetime"]])
may2014_df2= pd.DataFrame(may2014_df[["vendor_id", " pickup_datetime"]])
jun2014_df2= pd.DataFrame(jun2014_df[["vendor_id", " pickup_datetime"]])
jul2014_df2= pd.DataFrame(jul2014_df[["vendor_id", " pickup_datetime"]])
aug2014_df2= pd.DataFrame(aug2014_df[["vendor_id", " pickup_datetime"]])
sep2014_df2= pd.DataFrame(sep2014_df[["vendor_id", " pickup_datetime"]])
oct2014_df2= pd.DataFrame(oct2014_df[["vendor_id", " pickup_datetime"]])
nov2014_df2= pd.DataFrame(nov2014_df[["vendor_id", " pickup_datetime"]])
dec2014_df2= pd.DataFrame(dec2014_df[["vendor_id", " pickup_datetime"]])

In [13]:
jan2015_df2 = pd.DataFrame(jan2015_df[["VendorID", "tpep_pickup_datetime"]])
feb2015_df2 = pd.DataFrame(feb2015_df[["VendorID", "tpep_pickup_datetime"]])
mar2015_df2 = pd.DataFrame(mar2015_df[["VendorID", "tpep_pickup_datetime"]])
apr2015_df2 = pd.DataFrame(apr2015_df[["VendorID", "tpep_pickup_datetime"]])
may2015_df2 = pd.DataFrame(may2015_df[["VendorID", "tpep_pickup_datetime"]])
jun2015_df2 = pd.DataFrame(jun2015_df[["VendorID", "tpep_pickup_datetime"]])

In [14]:
jan2015_df2.head()

   VendorID tpep_pickup_datetime
0         2  2015-01-15 19:05:39
1         1  2015-01-10 20:33:38
2         1  2015-01-10 20:33:38
3         1  2015-01-10 20:33:39
4         1  2015-01-10 20:33:39

In [18]:
jan2014_df2.to_csv("jan2014_df2.csv")
feb2014_df2.to_csv("feb2014_df2.csv")
mar2014_df2.to_csv("mar2014_df2.csv")
apr2014_df2.to_csv("apr2014_df2.csv")
may2014_df2.to_csv("may2014_df2.csv")
jun2014_df2.to_csv("jun2014_df2.csv")
jul2014_df2.to_csv("jul2014_df2.csv")
aug2014_df2.to_csv("aug2014_df2.csv")
sep2014_df2.to_csv("sep2014_df2.csv")
oct2014_df2.to_csv("oct2014_df2.csv")
nov2014_df2.to_csv("nov2014_df2.csv")
dec2014_df2.to_csv("dec2014_df2.csv")

In [19]:
jan2015_df2.to_csv("jan2015_df2.csv")
feb2015_df2.to_csv("feb2015_df2.csv")
mar2015_df2.to_csv("mar2015_df2.csv")
apr2015_df2.to_csv("apr2015_df2.csv")
may2015_df2.to_csv("may2015_df2.csv")
jun2015_df2.to_csv("jun2015_df2.csv")

In [29]:
janfeb2014 = jan2014_df2.append(feb2014_df2, ignore_index=True)

MemoryError:

In [ ]:
janfebmar2014 = janfeb2014.append(mar2014_df2, ignore_index=True)

In [26]:
jantoapr2014 = janfebmar2014.append(apr2014_df2, ignore_index=True)

MemoryError:

In [ ]:
jantomay2014 = jantoapr2014.append(may2014_df2, ignore_index=True)

In [ ]:
jantojun2014 = jantomay2014.append(jun2014_df2, ignore_index=True)

In [ ]:
jantojul2014 = jantojun2014.append(jul2014_df2, ignore_index=True)

In [ ]:
jantoaug2014 = jantojul2014.append(aug2014_df2, ignore_index=True)

In [ ]:
jantosep2014 = jantoaug2014.append(sep2014_df2, ignore_index=True)

In [ ]:
jantooct2014 = jantosep2014.append(oct2014_df2, ignore_index=True)

In [ ]:
jantonov2014 = jantooct2014.append(nov2014_df2, ignore_index=True)

In [ ]:
merged2014 = jantonov2014.append(dec2014_df2, ignore_index=True)