In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
taxi2014 = "merged2014.csv"
taxi2014_df = pd.read_csv(taxi2014)

taxi2015 = "merged2015.csv"
taxi2015_df = pd.read_csv(taxi2015)

In [3]:
taxi2014_df.head()

   Unnamed: 0  Unnamed: 0.1 vendor_id      pickup_datetime
0           0             0       CMT  2014-01-09 20:45:25
1           1             1       CMT  2014-01-09 20:46:12
2           2             2       CMT  2014-01-09 20:44:47
3           3             3       CMT  2014-01-09 20:44:57
4           4             4       CMT  2014-01-09 20:47:09

In [4]:
taxi2015_df.head()

   Unnamed: 0  Unnamed: 0.1  VendorID tpep_pickup_datetime
0           0             0         2  2015-01-15 19:05:39
1           1             1         1  2015-01-10 20:33:38
2           2             2         1  2015-01-10 20:33:38
3           3             3         1  2015-01-10 20:33:39
4           4             4         1  2015-01-10 20:33:39

In [5]:
taxi2015_df = taxi2015_df.rename(columns={"VendorID": "vendor_id", "tpep_pickup_datetime":" pickup_datetime"})

In [6]:
taxi2015_df.head()

   Unnamed: 0  Unnamed: 0.1  vendor_id      pickup_datetime
0           0             0          2  2015-01-15 19:05:39
1           1             1          1  2015-01-10 20:33:38
2           2             2          1  2015-01-10 20:33:38
3           3             3          1  2015-01-10 20:33:39
4           4             4          1  2015-01-10 20:33:39

In [7]:
taxi_df = taxi2014_df.append(taxi2015_df, ignore_index=True)

In [8]:
taxi_df.head()

   Unnamed: 0  Unnamed: 0.1 vendor_id      pickup_datetime
0           0             0       CMT  2014-01-09 20:45:25
1           1             1       CMT  2014-01-09 20:46:12
2           2             2       CMT  2014-01-09 20:44:47
3           3             3       CMT  2014-01-09 20:44:57
4           4             4       CMT  2014-01-09 20:47:09

In [10]:
taxi_df.to_csv("taxi_df.csv")